html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/font/Nunito-Regular.ttf");
}
@font-face {
  font-family: "NunitoHeading";
  src: url("../assets/font/Nunito-SemiBold.ttf");
}
html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #efefef;
  color: #333;
  font-family: Nunito, Tahoma, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: NunitoHeading, Tahoma, Arial, sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.2rem;
}

strong, b {
  font-weight: bold;
}

a, a:active, a:visited {
  color: #EB9600;
}

a:hover {
  color: #F3B433;
}

canvas {
  background-color: #fdfdfd;
}

.cardsection .card, main, header {
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
  line-height: 100px;
  background-color: #fafafa;
}
header .banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
header .banner img {
  width: 60px;
  height: 60px;
  margin: 18px 10px;
}
header nav {
  text-align: right;
  padding-right: 10px;
}
header nav a {
  white-space: nowrap;
}

main {
  width: 80%;
  max-width: 1500px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fdfdfd;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.cardsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin: 0 auto;
  padding: 30px 10px;
}
.cardsection .card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fbfbfb;
  padding: 15px;
  border-top: 6px solid #cf022b;
  min-width: 250px;
}
.cardsection .card h2 {
  margin-bottom: 10px;
}
.cardsection .card table {
  margin: 10px auto;
  width: 80%;
}
.cardsection .card table td {
  padding: 5px 10px;
}
.cardsection .card:nth-child(2) {
  border-top: 6px solid #457b9d;
}
.cardsection .card:nth-child(3) {
  border-top: 6px solid #ffc107;
}
.cardsection .card:nth-child(4) {
  border-top: 6px solid #28a745;
}
.cardsection .card:nth-child(5) {
  border-top: 6px solid #7E31D5;
}
.cardsection .card:nth-child(6) {
  border-top: 6px solid #539ed0;
}

.graphsection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fbfbfb;
  width: 95%;
  margin: 15px;
}

.v-cloak {
  display: none;
}

.uptrend {
  color: #28a745;
}

.downtrend {
  color: #cf022b;
}

.smallpercent {
  font-size: 0.9em;
}

#linkToOfficialWeb {
  display: flex;
  flex-direction: row-reverse;
}
#linkToOfficialWeb a {
  padding: 12px 15px;
  background-color: #FDD468;
  color: #333;
  border-radius: 0.25rem;
  font-size: 1.1rem;
}
#linkToOfficialWeb a:hover {
  background-color: #F3B433;
}

.graphbuttons {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.graphbuttons button {
  margin: 5px 8px;
  padding: 5px 8px;
  background-color: #fdfdfd;
  border: none;
  color: #333;
}
.graphbuttons button:hover {
  color: #F3B433;
  cursor: pointer;
}
.graphbuttons button.active {
  color: #EB9600;
}

.about {
  margin: 30px;
}
.about .about_div {
  display: flex;
  flex-direction: row;
}
.about h2 {
  font-size: 2rem;
}
.about img {
  margin: 20px;
  width: 240px;
  height: 240px;
}
.about p {
  margin: 30px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  word-break: break-word;
}
.about .donations {
  font-size: 1rem;
}

.graphheader {
  margin: 10px 15px;
}

.topholders h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 2rem;
}
.topholders p {
  margin: 30px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  word-break: break-word;
  text-align: center;
}

#topholders, #searchResult {
  margin: 10px auto;
  width: 90%;
  text-align: left;
}
#topholders th, #searchResult th {
  font-weight: bold;
}
#topholders th, #topholders td, #searchResult th, #searchResult td {
  padding: 15px 5px;
  word-break: break-all;
}
#topholders td:nth-child(1), #searchResult td:nth-child(1) {
  min-width: 50px;
}
#topholders td:nth-child(3), #topholders td:nth-child(4), #topholders td:nth-child(5), #searchResult td:nth-child(3), #searchResult td:nth-child(4), #searchResult td:nth-child(5) {
  min-width: 70px;
}
#topholders tr:hover > td, #searchResult tr:hover > td {
  background-color: #f6f6f6;
}

.search {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.search input {
  margin: 10px;
  flex-grow: 4;
  line-height: 1.5rem;
  font-size: 1.4rem;
  padding: 5px;
  color: #333;
  border-radius: 0.25rem;
}
.search button {
  margin: 10px;
  flex-grow: 1;
  padding: 12px 8px;
  background-color: #FDD468;
  color: #333;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  border: none;
}
.search button:hover {
  background-color: #F3B433;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .cardsection .card {
    min-width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .about .about_div {
    flex-direction: column;
  }

  main#app {
    width: 100%;
  }

  div.search {
    flex-direction: column;
  }
}

/*# sourceMappingURL=standard.css.map */
