$mainBackground: #efefef;
$contentBackground: #fdfdfd;
$contentHoverBackground: #f6f6f6;
$textBlack: #333;

$headerBackground: #fafafa;
$cardBorderBlue: #457b9d;
$cardBorderRed: #cf022b;
$cardBorderYellow: #ffc107;
$cardBorderGreen: #28a745;
$cardBorderPurple: #7E31D5;
$cardBorderCyan: #539ed0;
$cardBackground: #fbfbfb;

$mmAccentLight: #FDD468;
$mmAccent: #F3B433;
$mmAccentDark: #EB9600;